
/* AREA MENU*/
.navbar-custom{
	background-color: transparent !important;
}

header {
    height:640px;
    min-height:400px;
    background-size:cover;
    background-color: #bdd4e7;
	background-image:  url(../img/banner1.png);
    
}

header .title-text{
	color:white;
}

.hidden-spacer {
    min-height: 56px;
}

/* AREA BANNER */ 

.site-banner{
    padding-top: 11% ;
    font-weight: 500;
}


.site-banner .banner-imagem img{
	width:100%;
}

/* AREA SOBRE MIM*/
.conteudo-site{
	display:none;
	background-image:  url(../img/sobrebanner.png);
	
	
}
.conteudo-site-en{
	display:none;
	background-image:  url(../img/sobrebanner.png);
	
	
}

.apresent{
	min-height:460px;	
}
.proj{
	
	min-height:450px;	
	display: none;
}
.apresent-en{
	min-height:460px;	
}
.proj-en{
	
	min-height:450px;	
	display: none;
}
.center_titulo{
	 text-align: center;
	
}
.card-text{
	max-height: 200px;
	 text-align: center;	
}
.card{
	max-width: 250px;
	border-radius: .2rem;
}	

